<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "NYC High School Programs" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= csrf_meta_tags %>
  <%= include_gon %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCItTPwLzzWPxyI8RlS9sHQYyGDDu66c-Y"> </script>
	<!-- // <script src="https://maps.googleapis.com/maps/api/js"></script> -->
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
</head>
<body>
	  <div class="row">
      <div class="large-3 columns">
        <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
      </div>
      <div class="large-9 columns">
        <ul class="button-group right">
          <li><a href="/" class="button">home</a></li>
          <li><a href="#map" class="button">map</a></li>
          <li><a href="#" class="button">stats</a></li>
          <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div>
    </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
<script type="text/javascript">
  $("#search_text").keyup(function(event) {
    $.get('/program_search?search='+ $(this).val());
});
</script>